@font-face {
	font-family: 'Roboto-light';
	src: url(../fonts/Roboto-light.woff2) format('woff2'), url(../fonts/Roboto-light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DINNextLTPro-MediumCond';
	src: url(../fonts/DINNextLTPro-MediumCond.woff2) format('woff2'), url(../fonts/DINNextLTPro-MediumCond.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}

@keyframes shake {
	0%,
	to {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px)
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px)
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: "DINNextLTPro-MediumCond", Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #333333;
	text-transform: uppercase;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto
}

a {
	color: #0089cf;
	text-decoration: none;
}

.description,
.subscription,
.copyright,
.description-product p,
.story-description,
.advantages-list p,
.basket input,
.basket select,
.comment textarea,
.products-basket-description span,
.consent,
.box-product-model,
.search-start {
	font-family: "Roboto-light", Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #666666;
	text-transform: none;
	margin: 0;
	padding: 0;
}

.copyright,
.advantages-list p {
	font-size: 12px;
}

.copyright,
.quantity-product {
	text-align: center;
}

.inner-page-footwear {
	background-color: #f2f9fd;
}

.inner-page-blocs {
	background-color: #c8cfdc;
}

.inner-page-blocs .main-header {
	background-color: #f2f9fd;
}

.main-header-show {
	background-color: #e6edf1;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1180px;
	margin: 0 auto;
}

.container-blocs {
	width: 1480px;
	margin: 0 auto;
}

.main-navigation,
.site-navigation,
.user-navigation,
.footwear-product-list,
.footer-social,
.catalog-blocs-list,
.advantages-list,
.exclusive-list,
.products-basket-list,
.footer-catalog-list,
.found-products-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 20px;
}

.site-navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.site-navigation li {
	margin-right: 40px;
}

.site-navigation a {
	position: relative;
}

.site-navigation a:not([href]) {
	color: #0089cf;
}

.site-navigation a:not([href])::before,
.site-navigation a[href]:hover::before {
	content: "";
	position: absolute;
	bottom: -96%;
	right: 0;
	left: 0;
	height: 4px;
	background-color: #0089cf;
}

.site-navigation a[href]:hover,
.user-navigation a:hover {
	color: #0089cf;
}

.site-navigation a[href]:active,
.user-navigation a:active {
	transform: scale(1.1);
	display: inline-block;
}

.site-navigation a[href]:active::before {
	display: none;
}

.user-navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: auto;
	align-items: center;
	margin-right: 8px;
}

.user-navigation li {
	margin-left: 55px;
}

.user-navigation a {
	position: relative;
}

.user-navigation a::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	left: -25px;
	top: -1px;
	padding-right: 10px;
}

.user-navigation .search-link-icon::before {
	background: url(../img/search-nav.svg) no-repeat 0 0;
}

.user-navigation .search-link-icon:hover::before {
	background: url(../img/search-nav-hover.svg) no-repeat 0 0;
}

.user-navigation .basket-link-icon::before {
	background: url(../img/basket-nav.svg) no-repeat 0 0;
}

.user-navigation .basket-link-icon:hover::before {
	background: url(../img/basket-nav-hover.svg) no-repeat 0 0;
}

.user-navigation .login-link-icon::before {
	background: url(../img/user-nav.svg) no-repeat 0 0;
}

.user-navigation .login-link-icon:hover::before {
	background: url(../img/user-nav-hover.svg) no-repeat 0 0;
}

.main-contents {
	margin-bottom: 50px;
}

.inner-page-exclusive .catalog-product {
	background: url(../img/bg-pattern-exclusive-2.png) no-repeat 185% 36%, url(../img/bg-pattern-exclusive.png) no-repeat 444% 104%;
}

.catalog-product-show {
	display: none;
}

.catalog-product h1 {
	font-size: 45px;
	margin: 0;
	display: block;
	text-align: center;	
	font-weight: 500;
	letter-spacing: 1.125px;
}

.inner-page-exclusive .catalog-product h1 {
	background: url(../img/forme-2.svg) no-repeat center;
}

.inner-page-footwear .catalog-product h1 {
	background: url(../img/forme-1.svg) no-repeat center;
}

.catalog-product .loading {
	text-align: center;
	margin: 0;
}

.filters-sorting {
	display: flex;
	justify-content: flex-end;
}

.filters-sorting select {
	text-transform: uppercase;
	border: none;
	-webkit-appearance: none;
	background: url(../img/arrow-down.svg) no-repeat 100% 35%;
}

.footwear-product-list, 
.found-products-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footwear-product-list h2,
.catalog-blocs-item h2,
.price,
.filters label,
.advantages-list li,
.stock-price,
.products-basket-description,
.search-start-heading,
.quantity-found-goods,
.found-products-list h2 {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0.45px;
}

.price span {
	text-decoration: line-through;
	color: #fc7070;
}

.price::before,
.price span::before,
.stock-price span::before {
	content: "$";
	display: inline-block;
}

.price span::before {
	text-decoration: line-through;
}

.main-footer {
	background-color: #0c0d0d;
	color: #666666;
	padding: 40px 50px 30px 60px; 
}

.main-footer a {
	color: inherit;	
}

.header-logo,
.footer-logo {
	font-size: 0;
	line-height: 0;
	width: 50px;
	height: 50px;
	background: #0089cf url(../img/logo.svg) no-repeat center;
	margin-right: 30px;
	transition: transform .5s;
}

.header-logo:hover,
.footer-logo:hover {
	transform: rotate(180deg);
	transition: transform .5s;
}

.footer-logo {
	margin-right: 40px;
}

.footer-navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 60px;
}

.footer-social-wrapper {
	margin-left: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid #252626;
}

.footer-social {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 30px;
}

.footer-social li:first-child a {
	margin-left: 0;
}

.social-button {
	font-size: 0;
	line-height: 0;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #fff;
	display: block;
	margin-left: 10px;
	opacity: .3;
}

.social-button:hover,
.footer-social-wrapper .subscription:hover,
.footer-social-wrapper .subscription:hover::before {
	opacity: 1;
}

.social-button:active,
.footer-social-wrapper .subscription:active,
.footer-social-wrapper .subscription:active::before {
	opacity: .6;
}

.youtube-icon {
	background: url(../img/youtube.svg) no-repeat center;
}

.instagram-icon {
	background: url(../img/instagram.svg) no-repeat center;
}

.twitter-icon {
	background: url(../img/twitter.svg) no-repeat center;
}

.facebook-icon {
	background: url(../img/facebook.svg) no-repeat center;
}

.pinterest-icon {
	background: url(../img/pinterest.svg) no-repeat center;
}

.footer-catalog-list {
	column-count: 3;
	column-gap: 123px;
}

.footer-catalog-list a:hover,
.filter-shoes label:hover,
.filter-brands-wrapper label:hover {
	color: #fff;
	transform: scale(1.1);
}

.footer-catalog-list a:hover {
	display: inline-block;
}

.footer-catalog-list a:active {
	opacity: .6;
}

.footer-catalog-item {
	margin-bottom: 10px;
}

.footer-social-wrapper .subscription {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	color: #fff;
	opacity: .3;
}

.footer-social-wrapper .subscription::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 13px;
	background: url(../img/mail.svg) no-repeat center;
	margin-right: 10px;
	opacity: .3;
}

.copyright {
	margin-bottom: 30px;
}

.footer-catalog-item,
.button-basket,
.description,
.subscription,
.copyright,
.description-product p,
.story-description,
.advantages-list p,
.basket input,
.basket select,
.comment textarea,
.products-basket-description span,
.consent {
	letter-spacing: 0.35px;
}

.inner-page-product .price,
.inner-page-product .colors {
	color: #666666;
	margin: 0;
}

.filter-button,
.products-basket-list button {
	font-size: 0;
	line-height: 0;
	border: none;
}

.filter-button {
	top: 72%;
	left: 50%;
	margin-left: -30px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	padding: 0;
	box-sizing: border-box;
	border-radius: 50%;
	border: 4px solid #ffffff;
	box-shadow: 0 3px 7px rgba(0, 0, 0, .1);
}

.filter-button-off {
	background: url("../img/filter.svg") no-repeat center, linear-gradient(to bottom, #333333, #2c2c2c);
	position: fixed;
}

.filter-button-on {
	position: absolute;
	background: url("../img/filter-check.svg") no-repeat center, linear-gradient(to bottom, #fdfdfd, #dadada);
	border: 4px solid #333333;
}

.filters-footwear {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	width: 100%;
	height: 100vh;
	top: 0;
	background-color: rgba(0, 0, 0, .9);
	padding-top: 75px;
}

.filters {
	opacity: .9;
}

#filters:target .filters-footwear {
	position: absolute;
	opacity: 1;
	pointer-events: auto;
}

#filters:target {
	position: sticky;
	overflow-y: hidden;
	padding-right: 18px;
}

.filters-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.filters fieldset,
.basket fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.filters fieldset {
	padding: 0 20px;
	box-sizing: border-box;
}

.filters legend {
	color: #ffffff;
	line-height: 35px;
}

.filters label {
	color: #666666;
	line-height: 30px;
	cursor: pointer;
}

.filter-shoes-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.filter-shoes label {
	display: inline;
}

.filters input:checked+label::before {
	display: inline-block;
}

.filter-shoes label::before,
.filter-brands label::before {
	content: "";
	width: 8px;
	height: 8px;
	display: none;
	background: #ffffff;
	vertical-align: middle;
	margin-bottom: 4px;
	margin-right: 11px;
}

.filter-colors label::before {
	content: "";
	width: 10px;
	height: 9px;
	position: absolute;
	left: calc(50% - 5px);
	top: calc(50% - 4px);
	background: url(../img/check-filter-colors.svg) no-repeat center;
	display: none;
}

.filter-colors label[for="white"]::before {
	background: url(../img/check-filter-colors-white.svg) no-repeat center;
}

.filter-size input:checked+label {
	color: #000;
	background-color: #fff;
}

.filters .filter-size {
	margin-bottom: 40px;
}

.filter-items .filter-colors {
	margin-bottom: 40px;
}

.btn-range {
	font-size: 0;
	line-height: 0;
	border: none;
	width: 18px;
	height: 18px;
	background: url(../img/ellipse.svg) no-repeat center;
	position: absolute;
	top: calc(50% - 9px);
	cursor: pointer;
}

.btn-range-left {
	left: 10%;
}

.btn-range-right {
	right: 10%;
}

.toddler {
	position: relative;
	height: 20px;
}

.toddler::before {
	content: "";
	height: 2px;
	position: absolute;
	top: calc(50% - 1px);
	left: 0;
	right: 0;
	background: linear-gradient(to right, #fff 10%, #666 10%,#666 90%, #fff 90%, #fff 100% );
}

.btn-range::after {
	content: attr(data-text);
	position: absolute;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	left: -5px;
	bottom: -15px;
}

.filter-size label,
.filter-colors label {
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	text-align: center;
	line-height: 40px;
	border: 1px solid #4a4b4c;
	position: relative;
}

.filter-size-wrapper,
.filter-colors-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.filter-colors-wrapper label {
	font-size: 0;
	line-height: 0;
	border: none;
}

.filter-size-wrapper label,
.filter-colors-wrapper label {
	margin-right: 10px;
	margin-bottom: 10px;
}

.filter-size-wrapper label:nth-child(5n),
.filter-colors-wrapper label:nth-child(5n) {
	margin-right: 0;
}

.filter-colors-wrapper label[for="pink"] {
	background-color: #ff00a3;
}

.filter-colors-wrapper label[for="violet"] {
	background-color: #9d00ff;
}

.filter-colors-wrapper label[for="blue"] {
	background-color: #0000ff;
}

.filter-colors-wrapper label[for="yellow"] {
	background-color: #fff200;
}

.filter-colors-wrapper label[for="orange"] {
	background-color: #ff7200;
}

.filter-colors-wrapper label[for="brown"] {
	background-color: #5f401d;
}

.filter-colors-wrapper label[for="red"] {
	background-color: #ff0000;
}

.filter-colors-wrapper label[for="grey"] {
	background-color: #9c9c9c;
}

.filter-colors-wrapper label[for="white"] {
	background-color: #ffffff;
}

.filter-colors-wrapper label[for="black"] {
	background-color: #000000;
	border: 1px solid #252525;
	box-sizing: border-box;
}

.filter-brands-wrapper {
	column-count: 2;
}

.filter-brands-wrapper label {
	display: block;
}

.filter-brands-item {
	width: 65%;
	margin: 0 auto;
}

/*Стилизация страницы catalog-blocs*/

.catalog-product-blocs {
	margin-bottom: 50px;
	margin-top: 50px;
}

.catalog-blocs-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.col-1 .catalog-blocs-air,
.catalog-blocs-air .description {
	background: #383d68;
	color: #fff;
}

.catalog-blocs-nixon .description,
.catalog-blocs-nixon h3,
.link-shop {
	color: #fff;
}

.catalog-blocs-nixon h3 {
	letter-spacing: 0.63px;
	margin: 0;
	margin-bottom: 30px;
}

.col-1 .catalog-blocs-nixon {
	background-color: #333;
	padding: 35px 20px 62px 20px;
}

.col-1 .catalog-blocs-nixon img {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.col-1 .catalog-blocs-jacket {
	background: #fff url(../img/blocs-product-5.png) no-repeat center;
	justify-content: flex-start;
}

.catalog-blocs-nixon .link-shop {
	letter-spacing: 0.63px;
	display: block;
	margin-right: auto;
}

.catalog-blocs-nixon .link-shop::after {
	content: "";
	display: inline-block;
	width: 7px;
	height: 10px;
	background: url(../img/arrow-shop-blocs.svg) no-repeat center;
	margin-left: 10px;
}

.col-2 .catalog-blocs-description {
	flex-direction: row;
}

.catalog-blocs-description div {
	width: 50%;
}

.catalog-description {
	padding-right: 27px;
	padding-left: 30px;
	box-sizing: border-box;
	position: relative;
}

.catalog-description .description {
	font-size: 12px;
	line-height: 20px;
}

.catalog-description span,
.catalog-blocs-jacket h3,
.button-basket,
.catalog-blocs-nixon h3,
.footwear-exclusive,
.footwear-news,
.footwear-size {
	font-size: 14px;
	font-weight: 500;
}

.catalog-description span {
	display: block;
	margin-bottom: 15px;
}

.catalog-blocs-jacket h2 {
	font-size: 55px;
	line-height: 55px;
	letter-spacing: 1.375px;
	margin: 0;
}

.catalog-blocs-jacket h3 {
	letter-spacing: 0.63px;
	margin: 0;
	margin-top: 36px;
	margin-bottom: 20px;
}

.catalog-blocs-item,
.footwear-product-item,
.found-products-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 430px;
	background: #fff;
	padding: 0 20px;
	box-sizing: border-box;
	position: relative;
}

.inner-page-blocs .col-2 .catalog-blocs-item {
	padding: 0;
}

.catalog-blocs-item:hover,
.footwear-product-item:hover,
.found-products-item:hover {
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	cursor: pointer;
}

.catalog-blocs-item:hover .exclusive-basket,
.footwear-product-item:hover .exclusive-basket,
.found-products-item:hover .exclusive-basket,
.catalog-blocs-item:hover .exclusive-favorites,
.footwear-product-item:hover .exclusive-favorites,
.found-products-item:hover .exclusive-favorites {
	display: flex;
}

.product-picture {
	min-height: 265px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
	margin-bottom: 39px;
}

.product-picture-item {
	margin: 0;
	line-height: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.catalog-blocs-item h2,
.footwear-product-item h2,
.found-products-item h2 {
	margin-bottom: 10px;
}

.catalog-blocs-item .description,
.footwear-product-item .description,
.found-products-item .description {
	margin-bottom: 20px;
}

.catalog-blocs-item .price,
.footwear-product-item .price,
.found-products-item .price {
	margin-bottom: 30px;
}

body .row {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -20px;
}

.filters .row {
	margin-bottom: 150px;
}

body .col-1,
body .col-2 {
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.inner-page-exclusive .col-1 {
	flex-basis: calc(100% / 4)
}

.col-1 {
	flex-basis: calc(100% / 5)
}

.col-1 .advertising {
	background: url(../img/catalog-footwear-13.jpg) no-repeat center;
	padding: 0;
	padding-top: 35px;
}

.advertising .advertising-new,
.advertising .advertising-heading {
	color: #fff;
	margin: 0;
	text-align: center;
}

.advertising .advertising-new {
	margin-bottom: 25px;
}

.advertising .advertising-heading {
	font-size: 55px;
	line-height: 55px;
}

.inner-page-footwear .col-1 {
	flex-basis: calc(100% / 4)
}

.col-2 {
	flex-basis: calc(100% / 5 * 2)
}

.inner-page-footwear .col-2 {
	flex-basis: calc(100% / 4 * 2)
}

.catalog-blocs-nixon .description {
	line-height: 25px;
	margin-bottom: 27px;
}

.catalog-blocs-raf img {
	margin-bottom: 24px;
}

.catalog-blocs-raf h2 {
	margin-bottom: 10px;
}

.blocs-balmain-picture {
	height: 100%;
	line-height: 0;
	align-self: flex-end;
}

.blocs-balmain-picture img {
	margin: 0;
}


/*Стилизация страницы product-page*/

.inner-page-product .main-product {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 150px;
}

.product-characteristic {
	display: -webkit-flex;
	display: -moz-flex; 
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.product-characteristic-heading,
.basket h2 {
	margin: 0;
	padding: 0;
	font-size: 35px;
	font-weight: 500;
}

.product-characteristic-heading {
	line-height: 24px;
	margin-bottom: 12px;
}

.product-characteristic .price {
	margin-bottom: 20px;
}

.product-characteristic .colors {
	margin-bottom: 12px;
}

.product-characteristic .model-list {
	margin: 0;
	line-height: 0;
	margin-bottom: 18px;
}

.model-item {
	display: inline-block;
	line-height: 0;
}

.model-item:first-child {
	margin-right: 10px;
}

.product-characteristic-heading span,
.description-product h2,
.story-advantages h3,
.box-product h2,
.social-product h3,
.exclusive-item-wrapper h2 {
	font-size: 25px;
	display: block;
	font-weight: 500;
}

.product-characteristic-heading span {
	margin-bottom: 12px;
}

.grid-size {
	border: none;
	padding: 0;
	margin: 0;
}

.grid-size legend {
	font-family: "Roboto-light", Arial, sans-serif;
	font-size: 12px;
	font-weight: 300;
	text-transform: none;
	color: #666666;
	margin-bottom: 13px;
}

.footwear-size {
	color: #666666;
	text-transform: uppercase;
	-webkit-appearance: none;
	background: url(../img/arrow-down-page.svg) no-repeat 81% 48%;
	padding: 17px 83px 17px 19px;
	line-height: 14px;
	margin-right: 10px;
}

.add-basket,
.modal .button {
	color: #ffffff;
	padding: 18px 30px;
	background-color: #000;
	display: inline-block;
	line-height: 14px;
}

.description-product {
	width: 100%;
	min-height: 450px;
	padding: 105px 0;
	background: url(../img/page-product-bg.png) no-repeat;
	background-size: cover;
	color: #ffffff;
	display: flex;
	align-items: center;
}

.description-product h2 {
	margin: 0;
	margin-bottom: 20px;
}

.description-product p {
	width: 31%;
	color: #ffffff;
	line-height: 25px;
}

.advantages-product {
	background: url("../img/page-product-bg-1.png") no-repeat;
	background-size: cover;
	padding-bottom: 200px;
	padding: 105px 0;
	min-height: 450px;
}

.advantages-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.advantages-wrapper h3 {
	margin: 0;
	margin-bottom: 20px;
}

.story-advantages p,
.social-product p,
.social-link-instagram {
	color: #666;
	margin: 0;
}

.advantages-wrapper .subtitle-advantages,
.social-product .subtitle-advantages {
	margin-bottom: 5px;
}

.story-advantages .story-description {
	width: 42%;
	line-height: 25px;
	margin-bottom: 40px;
}

.advantages-list {
	margin-top: 20px;
}

.box-product {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	padding: 20px 15px 26px 19px;
	box-sizing: border-box;
	border: 4px solid #e4e4e4;
	width: 300px;
	flex-shrink: 0;
	background-color: #fff;
}

.box-product h2 {
	margin: 0;
	margin-bottom: 10px;
}

.box-product-model {
	margin: 0;
	margin-bottom: 15px;
}

.box-product img {
	padding: 50px 0;
}

.stock-price {
	padding-left: 7px;
	padding-right: 11px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.social-product {
	min-height: 450px;
	padding: 105px 0;
}

.social-product h3 {
	margin: 0;
	margin-bottom: 40px;
}

.social-picture {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.social-product img {
	opacity: .4;
}

.social-product img:hover {
	opacity: 1;
}

.inner-page-product .favourites {
	display: block;
	padding: 16px 17px;
	border: 1px solid #e4e4e4;
	font-size: 0;
	line-height: 0;
	width: 16px;
	height: 14px;
	background: url(../img/heart-page.svg) no-repeat center;
	margin-bottom: 42px;
	cursor: pointer;
}

.inner-page-product .favourites-check:checked ~ label {
	background: url(../img/heart-page-check.svg) no-repeat center;\
}

/*Стилизация страницы Эксклюзивных товаров*/

.inner-page-exclusive .filters-sorting {
	margin-bottom: 110px;
}

.inner-page-footwear .filters-sorting {
	margin-bottom: 40px;
}

.container-inner {
	width: 824px;
	margin: 0 auto;
	margin-bottom: 70px;
}

.exclusive-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
	position: relative;
}

.picture,
.pick,
.exclusive-item-wrapper {
	width: 50%;
}

.exclusive-item-wrapper {
	box-sizing: border-box;
}

.exclusive-item-left {
	padding-left: 10px;
	padding-right: 20px;
}

.exclusive-item-right {
	padding-left: 20px;
	padding-right: 10px;
}

.exclusive-item-wrapper .picture {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #f2f9fd;
	min-height: 530px;
	box-sizing: border-box;
}

.picture-item {
	height: 333px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
	margin-bottom: 40px;
}

.exclusive-item-wrapper h2 {
	margin: 0;
	margin-bottom: 10px;
}

.exclusive-item-wrapper .price {
	margin-bottom: 58px;
}

.location {
	-webkit-order: 2;
	-moz-order: 2;
	-ms-order: 2;
	-o-order: 2;
	order: 2;
}

.exclusive-list li:last-child {
	margin-bottom: 0;
}

.exclusive-item .fixed-picture-right {
	position: absolute;
	right: -51%;
	top: calc(50% - 270px);
}

.exclusive-item .fixed-picture-left {
	position: absolute;
	left: -54%;
	top: calc(50% - 270px);
}

.exclusive-item .supreme {
	right: -40%;
	top: calc(50% - 285px);
}

.exclusive-item .pick {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.pick h2 {
	font-size: 45px;
	font-weight: 500;
	margin: 0;
	text-align: center;
	margin-bottom: 10px;
	letter-spacing: 1.125px;
}

.pick .divider {
	font-size: 25px;
	display: block;
	margin: 15px 0;
}

.exclusive-item .description {
	margin-bottom: 20px;
}

/*Стилизация Корзины*/

.basket {
	width: 560px;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: -560px;
	z-index: 50;
	opacity: 0;
	pointer-events: none;
}

#basket:target {
	transform: translateX(-560px);
	transition: transform .3s;
	overflow-y: hidden;
}

#basket:target .basket,
#basket:target .overlay {
	opacity: 1;
	pointer-events: auto;
}

#basket:target .basket {
	overflow-y: scroll;
	height: 100vh;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, .2);
	z-index: 5;
	opacity: 0;
	pointer-events: none;
}

.informations-customer {
	padding: 31px 41px 0 40px;
	margin-bottom: 25px;
}

.informations-products {
	padding: 0px 40px 19px 41px;
	background: #f2f9fd;
	padding-top: 31px;
}

.basket h2 {
	margin-bottom: 21px;
}

.personal-information input,
.basket select,
.comment textarea {
	color: #ccc;
	width: calc(50% - 10px);
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 11px 0;
}

.basket input[name="adress"],
.comment textarea {
	resize: none;
	width: 100%;
}

.informations-customer .comment {
	margin-bottom: 36px;
}

.personal-information-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.informations-customer .personal-information {
	margin-bottom: 39px;
}

.main-header a,
.basket legend,
.delivery select,
.exclusive-item a {
	color: #333333;
}

.products-basket-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 25px 0;
	-ms-align-items: center;
	align-items: center;
	border-bottom: 1px solid #d9e0e3;
}

.products-basket-list {
	margin-bottom: 22px;
}

.products-basket-list li:first-child {
	border-top: 1px solid #d9e0e3;
}

.products-basket-item p,
.quantity-product,
.source-search {
	margin: 0;
	padding: 0;
}

.products-basket-list button {
	position: absolute;
	left: -3px;
	width: 10px;
	cursor: pointer;
}

.products-basket-item .more {
	background: url("../img/more.svg") no-repeat center;
	height: 10px;
	top: -21px;
}

.products-basket-item .less {
	background: url("../img/less.svg") no-repeat center;
	height: 2px;	
	bottom: -19px;
}

.products-basket-item .products-basket-quantity {
	margin-right: 28px;
	position: relative;
}

.products-basket-item img {
	margin-right: 20px;
}

.products-basket-item .products-basket-description {
	margin-right: auto;
}

.products-basket-description {
	line-height: 25px;
}

.products-basket-description span {
	display: block;
	line-height: 25px;
}

.products-basket-price {
	display: flex;
	align-items: center;
}

.products-basket-price span {
	display: flex;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	background: #d9e0e3;
	margin-right: 39px;
	margin-left: 20px;
}

.informations-products .products-basket {
	margin-bottom: 24px;
}

.products-basket legend {
	margin-bottom: 15px;
}

.basket-sum-shipping,
.products-sum-subtotal {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	margin: 0;
}

.basket-sum-shipping {
	margin-bottom: 24px;
}

.basket-sum-shipping span {
	margin-left: 99px;
}

.products-sum-subtotal span {
	margin-left: 93px;
}

.button-basket {
	background: #333333;
	border: none;
	color: #fff;
	padding: 13px 70px;
	display: block;
	margin-left: auto;
	text-transform: uppercase;
	line-height: 25px;
}

.consent {
	background: url(../img/box.svg) no-repeat left;
	padding-left: 23px;
	cursor: pointer;
	margin-bottom: 21px;
	display: block;
}

#consent-processing:checked ~ .consent {
	background: url(../img/check-box.svg) no-repeat left;
}

.consent a,
.user-navigation .basket-quantity-goods {
	color: #0089cf;
}

/*Стилизация кнопок new и exclusive */

.footwear-exclusive,
.footwear-news {
	position: absolute;
	top: 33px;
	color: #fff;
	line-height: 17px;
	padding: 0 14px;
	padding-top: 3px;
	border-radius: 10px;
}

.footwear-exclusive:hover,
.footwear-news:hover {
	padding-right: 35px;
	padding-left: 35px;
	transition: all .14s;
}

.footwear-exclusive:hover {
	left: calc(50% - 58px);
}

.footwear-news:hover {
	left: calc(50% - 48px);
}

.footwear-exclusive {
	background-color: #0089cf;
	left: calc(50% - 37px);
}

.footwear-news {
	background-color: #83d78c;
	left: calc(50% - 27px);
}

.catalog-description .footwear-news {
	left: 30px;
	top: calc(0% - 60px);
}

.catalog-description .footwear-news:hover {
	left: calc(0% + 9px);
}

.exclusive-favorites,
.exclusive-basket {
	font-size: 0;
	line-height: 0;
	position: absolute;
	width: 16px;
	height: 14px;
	top: 36px;
	border: none;
	cursor: pointer;
	display: none;
}

.exclusive-favorites {
	background: url(../img/heart.svg) no-repeat center;
	left: 33px;
}

.exclusive-basket {
	background: url(../img/footwear-basket.svg) no-repeat center;
	right: 33px;
}

.exclusive-favorites:hover ,
.exclusive-basket:hover {
	transform: scale(1.2);
} 

.exclusive-favorites:active,
.exclusive-basket:active,
.exclusive-favorites:focus,
.exclusive-basket:focus {
	outline: none;
	border: none;
}

.filter-input:checked label {
	padding-left: 20px;
}

/*Стилизация формы поиска search*/

.search {
	background-color: #e6edf1;
	width: 100%;
	margin-bottom: -70px;
	padding: 5px 0;
	display: none;
}

.search-show {
	display: block;
}

.search-form {
	position: relative;
	margin-bottom: 30px;
	margin-top: 50px;
}

.source-search {
	margin-bottom: 25px;
}

.search-start-heading {
	display: block;
	margin-bottom: 10px;
}

.btn-search {
	font-size: 0;
	line-height: 0;
	border: none;
	background: url(../img/search-btn.svg) no-repeat center;
	width: 32px;
	height: 32px;
	position: absolute;
	bottom: 34px;
	right: 0;
	cursor: pointer;
}

.btn-close-form {
	font-size: 0;
	line-height: 0;
	border: none;
	background: url(../img/search-btn-close.svg) no-repeat center;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 5px;
	right: 0;
	cursor: pointer;
}

.search-form input {
	width: 100%;
	border: none;
	background-color: #e6edf1;
	font-size: 60px;
	color: #0089cf;
	text-transform: uppercase;
	line-height: 60px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #c8ced0;
}

.search-form input:focus,
.filters-sorting select:focus,
.filters-sorting select:active,
.basket select:focus,
.basket select:active,
.delivery select:focus,
.delivery select:active {
	outline: none;
}

.search-form input::-webkit-input-placeholder { 
	color: rgba(204, 204, 204, 1);
}


.search-form input[type="search"]::-webkit-search-decoration,
.search-form input[type="search"]::-webkit-search-cancel-button,
.search-form input[type="search"]::-webkit-search-results-button,
.search-form input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.quantity-found-goods {
	margin-bottom: 20px;
}

.quantity-found-goods span {
	color: #0089cf;
}

.found-products {
	margin-bottom: 70px;
}

/*Форма обратной связи*/

.modal-contact,
.modal-overlay {
	position: absolute;
	top: 120px;
	left: 50%;
	opacity: 0;
	pointer-events: none;
	cursor: none;
	z-index: 8;
	transform: scale(0);
}

.modal-contact {
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
	width: 700px;
	margin-left: -350px;
	color: #000;
	background-color: #fff;
}

.modal-overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background: rgba(0, 0, 0, .3);
}

.modal-show,
.modal-overlay-show {
	position: fixed;
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
	cursor: auto;
	transform: scale(1);
	transition: transform .4s;
}

.modal-contact form {
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
}

.modal-contact .appointment-item-contacts {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.modal-contact .appointment-item {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.appointment-item:first-child {
	margin-right: 30px;
}

.appointment-item label {
	margin-bottom: 10px;
	padding-left: 15px;
}

.appointment-item input,
.appointment-item textarea {
	background-color: #f2f9fd;
	border: none;
}

.appointment-item input:active,
.appointment-item textarea:active,
.appointment-item input:focus,
.appointment-item textarea:focus {
	border: none;
	outline: none;
}

.appointment-item input {
	padding: 15px;
}

.appointment-item textarea {
	padding-top: 15px;
	padding-left: 15px;
	margin-bottom: 20px;
}

.modal .button {
	border: none;
	margin-left: 15px;
	text-transform: uppercase;
	cursor: pointer;
}

.modal-contact .btn-close-form {
	top: 25px;
	right: 25px;
	opacity: 1;
	transition: transform .5s, opacity .3s;
}

.modal-contact .btn-close-form:hover {
	transform: rotate(360deg);
	opacity: .5;
}

.modal-contact input::-webkit-input-placeholder,
.modal-contact textarea::-webkit-input-placeholder { 
	text-transform: uppercase;
	opacity: .7;
}

.modal-error {
	-webkit-animation: shake .5s;
	animation: shake .5s
}
